<%= form_for ([@recipe, @recipe.comments.build]) do |f| %>
  <p>
      <div class="form-group">
      <%= f.text_area :content,  class: 'form-control' %>
    </div>
  </p>
  <div class="form-group">
    <%= f.submit 'Add Comment', class: 'btn btn-success' %>
  </div>
<%end %>
