<h2>Users:</h2>

<ul>
<% @users.each do |u| %>
  <li><strong><%= link_to u.name, user_path(u.id) %></strong>:
<% if u.recipes.count < 2 %>
  <%= u.recipes.count %> Recipe</li>
<% elsif u.recipes.count == 0 || u.recipes.count > 1%>
  <%= u.recipes.count %> Recipes</li>
<%end %>
<%end %>
</ul
