<div class="jumbotron background-img .img-responsive" >
  <h1>Welcome to Project Two</h1>
  <p><p>Here is all the infromation about this application and how to use it</p>
  online cookbook that you can share with your friends</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Create Account</a></p>
</div>
