<div class="about-bg">
<div class="jumbotron">
      <h1>The Secret Ingredient </h1>
      <p>
        For those of you who are new, welcome! Think of this website as an online cookbook where you can post your favorite recipes and discover new recipes by following friends!
      </p>

      <% if logged_in? %>
          <%=link_to "View My Profile", user_path(current_user),class: 'btn btn-primary btn-lg' %>
      <%else %>
          <%=link_to "Sign In", new_session_path,class: 'btn btn-success btn-lg'  %>
          <%=link_to "Create Account", new_user_path,class: 'btn btn-primary btn-lg'  %>
    <%end %>
</div>
</div>
