/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";


.about-bg{
  // padding-top: 4em;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: cover;
  background: url("https://images.unsplash.com/photo-1466637574441-749b8f19452f?dpr=0.75&auto=format&fit=crop&w=1080&h=1080&q=80&cs=tinysrgb&crop=&bg=");
}

.jumbotron{
  background-color: rgba(0,0,0,0.5);
  background-repeat: no-repeat;
  color: white;
}

.tags{
  font-style: italic;
}

.box{
  border: 1px solid rgba(40, 63,109, 0.6);
  margin: 4px;
}
.comments{
  padding: 1em;
  border: 1px solid rgba(40, 63,109, 0.6);
  margin: 4px;
}

.btn-success,
.btn-success:focus,
.btn-success:active,
.btn-success.active{
  background-color: #c44727;
  border-color: #c44727;
}
.btn-success:hover{
  background-color: rgba(196,71,39,0.8);
  border-color: rgba(196,71,39,0.8);
}

.btn-primary,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active{
  background-color: #283f6d;
  border-color: #283f6d;
}

.btn-primary:hover{
  background-color: rgba(40, 63,109, 0.8);
  border-color: rgba(40, 63,109, 0.8);
}

a{
  color: #283f6d;
}
a:hover{
  color: rgba(40, 63,109, 0.8);
}
